.techs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .title {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
}

figure.tech-container {
  background: var(--vtl-background);
  border-radius: 100px;
  width: 120px !important;
  height: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:hover {
    transform: scale(1.1);
  }
  svg {
    height: 50px;
    margin-bottom: .2rem;
  }
}

figure {
  position: relative;
  text-align: center;
  figcaption.tooltip {
    position: absolute;
    bottom: 2%;
    background: var(--vtl-background-tooltip);
    box-shadow: 0 4px 10px var(--vtl-shadow-tooltip);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: .3s all;
    color: var(--vtl-text);
  }
  &:hover {
    figcaption.tooltip {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --vtl-background: rgba(0,0,0, .05);
    --vtl-background-tooltip: #444;
    --vtl-shadow-tooltip: rgba(0,0,0,.2);
    --vtl-text: #fff;
    --vtl-background-svg: #000;
  }
  body {
    --vtl-background: rgba(0,0,0, .05);
    --vtl-background-tooltip: #444; 
    --vtl-shadow-tooltip: rgba(0,0,0,.2);
    --vtl-text: #fff;
    --vtl-background-svg: #000;
  }  
}

@media (prefers-color-scheme: dark) {
  :root {
    --vtl-background: rgba(0,0,0, .5);
    --vtl-background-tooltip: #fff;
    --vtl-shadow-tooltip: rgba(0,0,0,.2);
    --vtl-text: #000;
    --vtl-background-svg: #fff;
  }
  body.darkmode {
    --vtl-background: rgba(0,0,0, .5);
    --vtl-background-tooltip: #fff;
    --vtl-shadow-tooltip: rgba(0,0,0,.2);
    --vtl-text: #000;
    --vtl-background-svg: #fff;
  }
}