.inputs-actions {
  display: flex;
  gap: 20px;
}

.checkbox-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  label input {
    margin-right: 1rem;
  }
}

.input-search {
  padding: 1rem;
  margin: 0 0 1rem;
  border-radius: 10px;
  background: var(--vtl-background);
  border: 1px solid var(--vtl-background);
  box-shadow: 0 0 0 1px #fff3;
  color: var(--vtl-text);
  width: calc(100% - 190px);
}

.not-found {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
