#root {
  max-width: 1280px;
  margin: 0 auto;
}

.app-container {
  padding: 0;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo img {
  height: 6em;
  padding: 1.5em;
}

code {
  background: var(--vtl-background);
  color: var(--vtl-text);
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 1rem;
}

.content {
  background: var(--vtl-background);
  background: var(--vtl-background-gradient);
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 10px;
}

.content h2 {
  margin-top: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .logo h1 {
    font-size: 1.5rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a.logo img {
    animation: logo-spin infinite 20s linear;
  }
}
