#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.app-container {
  padding: 0;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo h1 {
  font-size: 1.5rem;
}

.logo img {
  height: 6em;
  padding: 1.5em;
}

.btn-mode {
  margin: 2rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: .6rem !important;
}

.btn-mode svg {
  width: 20px;
  height: 20px;
}

code {
  background: var(--vtl-background);
  color: var(--vtl-text);
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 1rem;
  border: 1px solid rgba(255,255,255,.2)
}

.install {
  display: flex;
}

.content {
  background: var(--vtl-background);
  background: var(--vtl-background-gradient);
  padding: 1rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid var(--vtl-background);
  box-shadow: 0 0 0 1px rgba(255,255,255,.2), 0 10px 20px rgba(0,0,0,.1);
}

.content h2 {
  margin-top: 0;
}

.content button {
  background: var(--vtl-background-gradient);
  color: var(--vtl-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--vtl-background);
  padding: .5rem 1rem .5rem .5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.content button svg {
  margin-right: 1rem;
}

.limited .techs {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.input-search {
  padding: 1rem;
  margin: 0 0 1rem;
  border-radius: 10px;
  background: var(--vtl-background);
  border: 2px solid var(--vtl-background);
  color: var(--vtl-text);
  width: calc(100% - 2rem);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .logo h1 {
    font-size: 1rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a.logo img {
    animation: logo-spin infinite 20s linear;
  }
}
