:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #087ea4;
  --secondary: #62d9fb;
  --main-color: #2c3e50;
}

a {
  font-weight: 500;
  color: var(--vtl-text);
  text-decoration: inherit;
}

html {
  background: var(--primary);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #213547;
  background-color: #ffffff;
}

body:before,
body:after {
  content: "";
  display: flex;
  height: 20px;
  background: var(--primary);
  background: linear-gradient(90deg, var(--primary) 50%, var(--secondary) 100%);
  box-shadow: 0 0 0 1px rgba(255,255,255,.6), 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 11;
}

body.darkmode {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body.modal-active {
  overflow: hidden;
}
